@use "sass:meta";
@use "./variables.scss" as *;


.cm-highlight {
    background: var(--color-highlight) !important;
    color: var(--color-base-00) !important;
}

img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 2. Centers the image container in Editing Mode (Live Preview) */
.image-embed:has(img[alt*="center"]) {
    display: flex;
    justify-content: center;
    width: 100%;
}

img[alt*="right"] {
    float: right;
    clear: right;
    margin-bottom: 2px;
    margin-top: 2px;
}

img[alt*="left"] {
    float: left;
    clear: left;
    margin-bottom: 2px;
    margin-top: 2px;
}

[alt~="vid-20"] video {
    width: 20%;
}

[alt~="vid-30"] video {
    width: 30%;
}

[alt~="vid-40"] video {
    width: 40%;
}

.two-columns {
    column-count: var(--column-count, 2);
}

.three-columns {
    column-count: var(--column-count, 3);
}

.four-columns {
    column-count: var(--column-count, 4);
}


/* ==============================================================================
NOTION STYLE BOOKMARK LINK
==============================================================================
*/

.bookmark-item .source {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1.5em;
    word-break: break-all;
}

.bookmark-item figure {
    margin: 1.25em 0;
    page-break-inside: avoid;
}

.bookmark-item .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.bookmark-item img.icon {
    border-radius: 3px;
}

.bookmark-item .bookmark {
    text-decoration: none;
    max-height: 8em;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
}

.bookmark-item .bookmark-title {
    font-size: 0.85em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.75em;
    white-space: nowrap;
}

.bookmark-item .bookmark-text {
    display: flex;
    flex-direction: column;
}

.bookmark-item .bookmark-info {
    flex: 4 1 180px;
    padding: 12px 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookmark-item .bookmark-image {
    width: 33%;
    flex: 1 1 180px;
    display: block;
    position: relative;
    object-fit: cover;
    border-radius: 1px;
}

.bookmark-item .bookmark-description {
    color: var(--heading-text-color);
    opacity: 0.5;
    font-size: 0.75em;
    overflow: hidden;
    max-height: 4.5em;
    word-break: break-word;
}

.bookmark-item .bookmark-href {
    font-size: 0.75em;
    margin-top: 0.25em;
}



